.message__wrapp {
    display: flex;
}

.message {
    border-radius: 25px;
    padding: 15px;
    background-color: white;
    max-width: 200px;
    word-wrap: break-word;

}



.message_left {
    display: flex;
    justify-content: left;
    div{
        background-color: white;
    }
}

.message_right {
    display: flex;
    justify-content: right;
    div{
        background-color: rgba(0, 0, 0, 0.07);
    }
}