.emoji {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.emoji img {
    vertical-align: middle;
}

.emojies {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
}


.input_chat {
    height: 40px;
    border-radius: 100px;
    flex-grow: 1;
    border:none;
}



.bottomContainer{
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction:row;    
    padding:1px;
    border-radius: 100px;
    background-color: white;
    >div>img{
        width: 28px;
    }
}

.form_chat {
    flex-grow: 1;
    position: relative;
    display:flex;

}

.form_button {
    top: 40%;
    right: 100px;
    border-radius: 100%;
    position: absolute;
    height: 40px;
    width: 40px;
    display: none;
    background:blue;
}

.likeAndGallery{
    padding-right: 20px;
    img{
        padding-left: 15px;
    }
}

.smile{
    padding-left: 15px;    
    padding-right: 15px;    
}

