.mainContainer{
    background-color: rgba(245, 40, 145, 0.05);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 250px 160px 360px 580px 1fr;
    grid-template-rows: 20px 680px 20px;

    grid-template-areas:
        "header . . . ."
        "header . article chat ."
        "em . . . ."
}



.em {
    background-color: white;
    grid-area: em;
    border-right: 1px solid black;
    
}

.flex_sub_sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    width: 30px;
}

.icon_20 {
    width: 20px;
    display: inline;
}

// .container>* {
//     padding: 1rem;
// }   

.chat_list_true {
    display: flex;
    flex-direction: column;
    grid-area: article;
    border: 1px solid black;
    border-top: none;

}




.chat_list_myname {
    background-color: white;
    
    border-right: none;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-left: none;
}

.chat_list {

    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: white;
    border-right: 1px solid rgba($color: #A5A5A5, $alpha: 50%);
}

.sidebar_left {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    grid-area: header;
    background-color: #FFFFFF;
    border-right: 1px solid black;
}

input:focus {
    outline: none;
}

.form:focus-within {
    outline: 1px solid blue
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: sidebar;
    background-color: FFFFFF;
}

.flex_sub_header {
    display: flex;
    align-items: center;
}





.chat {
    border: 1px solid black;
    grid-area: chat;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chat_first_section {
    padding: 13px;
    height: 32.5px;
    border-bottom: 1px solid black;
}


.chat_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.chat_input {
    overflow-y: scroll;
    display: grid;
    margin-bottom: 20px;
    height: 485px;
    padding: 20px;

    * {
        margin-bottom: 4px;
        margin-top: 4px;
    }
}

.messaegEnd {
    align-items: end;
}

.messageStart {
    align-items: start;
}


.actions_button {
    border: none;
    background-color: #60A9F6;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    // padding-top: 3px;
    padding-bottom: 3px;
}


.actions_section {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 24px;
        padding-left: 7px;
        padding-right: 7px;
    }
}


.hr_padding {
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 5px;
}

.text {
    font-size: 16px;
    background-color: #60A9F6;
    padding: 0 10px;
    border-radius: 10px;
}

.text_wrapp {
    margin-top: 30px;
    width: 100%;
    height: 9px;
    text-align: center
}

.black_line {
    border-bottom: 1px solid rgba($color: #A5A5A5, $alpha: 50%);
}

.margin_hr {
    margin-top: 20px;
}

.chat_header_main_text {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.iconBefore {
    background: url(https://laravel.ru/favicon.ico) no-repeat left center;
    background-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 25px;
}

.iconAfter {
    background: url(https://laravel.ru/favicon.ico) no-repeat right center;
    background-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 18px;
}

.participants_status {
    margin-right: 20px;
    font-weight: 500;
    color: #F3F3FB
}

.flex_chat_footrer_icon {
    display: flex;

    * {
        margin-right: 10px;
    }
}

.padding_chat_footer_first {
    
    display: flex;
    padding: 3px;
    justify-content: space-between;
}

// .green {
//     background-color: #F3F3FB;
// }






.footer_section {
    border: 1px solid rgba($color: #A5A5A5, $alpha: 50%);
}




.chat_footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chooseChat {
    display:flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none
}