.container {
    margin: 15px;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.name {
    font-weight: 700;
    color: black;
}

.education {
    color: #777777;
}

.photo {
    width: 50px;
    border-radius: 100%;
}