.notification_popup {
    display: grid;
    width: 450px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 50px;
    top: 70px;
}

.notification_header {

    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 80px;

    >div {
        display: flex;
        margin-bottom: 25px;
        justify-content: space-between;
    }

    border-bottom: 1px solid black;
}


.notification_header_categories {
    display: flex;

    >div {
        display: flex;
        align-items: center;
        padding-right: 10px;
    }


}

.text_underline {
    text-decoration: underline;
}

.number_container {
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 15px;
    height: 15px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.number_container_selected {
    background-color: black;
    color: antiquewhite;
}


.notification_content {
    height: 500px;
    overflow: scroll;
    display: grid;
    > div {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-color: gold;
        > img {
            width: 45px;
            border-radius: 25%;
            margin-right: 20px;
        }

        > div {
            display: grid;
        }
    }
}

