$wrapperGap: 20px;


.header {
    width: 100vw;
    grid-area: header;
    background-color: rgb(235,235,235);
    display: grid;
    grid-template-columns: calc(10% + $wrapperGap ) calc(17% + $wrapperGap) calc(40% + $wrapperGap) calc(18% + $wrapperGap);
    grid-template-areas:
        ". logo a header_right";
}

.sidebar {
    grid-area: sidebar;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}



.a {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.left {
    position: sticky;
    top: 0;
    grid-area: left;
    background-color: rgb(235,235,235);
}

.right {
    grid-area: right;
    background-color: rgb(235,235,235);
}

.wrapper {
    gap: $wrapperGap;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 17% 40% 17%;
    grid-template-rows: 70px;
    grid-template-areas:
        "header  header  header  header "
        ".       left    content right ";

}

.nameAndImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 20px;
    padding-top: 3px;
    margin-bottom: 12px;
}

.header_right_icon {
    width: 35px;
    height: 35px;
}

.logo {
    margin-right: 20px;
    width: 50px;
}

.header_right {
    grid-area: header_right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b {
    grid-area: b;
}



.flex_center {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}


.latest_update,
.followers_block {
    display: grid;
    gap: 10px;
    position: sticky;
    top: 0;
    >span {
        padding-top: 15px;
        padding-left: 15px;
    }
}

.text_padding {
    padding: 15px;
}

.margin_bottom_20px {
    margin-bottom: 0px;
}

.lattest_update_section_text_margin_bottom {
    margin-bottom: 15px;
}






.textPost{
    height: 20px;
    border: none;
    width: 400px;
}

.none{
    display: none;
}

.sigmaCameraPost {
    position: absolute;
    bottom: 10px;
    left: 15px;
}





.content {
    grid-area: content;
    background-color: rgb(235,235,235);;
    display: grid;
    grid-template-rows: 30px 150px ;
    grid-template-areas:
        "posts"
        "posts"
        "posts";
}




.activity_feed {
    background-color: rgba(255, 140, 0, 1);
    grid-area: text;
}

.photo {
    width: 40px;
    border-radius: 100%;
}


.input_post {
    position: relative;
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-areas:
        "input_ph"
        "input_ic";
    background-color: rgba(255, 140, 0, 0.2);
    grid-area: input;

    div{
        padding: 15px;
    }
}



.input_post_photo_section {
    background-color: maroon;
    grid-area: input_ph;
    display: flex;
    align-items: center;
    * {
        margin-right: 15px;
    }
}

.input_post_icons_section {
    background-color: blue;
    grid-area: input_ic;
    display: flex;
    align-items: center;
    * {
        margin-right: 15px;
    }
}







.posts_area {
    grid-area: posts;
    padding: 15px;
}