.container {
    display: grid;
    grid-template-areas: "photo content last";
    align-items: top;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;

}

.photo {
    grid-area: photo;
}

.content {
    grid-area: content;
}

.last_date{
    grid-area: last
}

.icon {
    width: 30px;
}

.info {
    display: flex;
    gap: 4px;
    flex-direction: column;
}