.contentWidth {
    width: 450px;
    height: 100%;
    object-fit: contain;
}

.modalCommentWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contentPhotoPopup {
    border-right: 12px solid white;

    img {
        width: 100%;

    }
}


.contentWidthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.svg_icon {
    width: 24px;
}




.contentTextPopup {
    display: grid;
    grid-template-rows: 50px 3fr 140px;
    grid-template-columns: 665px;
    grid-template-areas:
        "header"
        "content"
        "interaction";
    // display: none;
}

.avaWidth {
    width: 24px;
}

.a {
    background-color: white;
    grid-area: "header";
    width: 100%x;
}

.b {
    background-color: aqua;
    grid-area: "content";
}

.c {
    background-color: white;
    grid-area: "interaction";
    display: grid;
    grid-template-columns: 665px;
    grid-template-rows: 0.75fr 0.75fr 0.75fr;
    grid-template-areas:
        "ca"
        "cb"
        "cc";
}

.ca {

    grid-area: "ca";
    background-color: violet;
    display: flex;
    align-items: center;

    span {
        padding-left: 20px;
    }
}

.cb {
    grid-area: "cb";
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div {
        padding-left: 20px;
    }

}

.cc {
    grid-area: "cc";
    display: flex;
    align-items: center;
}



.formStyle {
    width: 100%;
    height: 100%;
    display: flex;

    button {
        border: none;
    }
}

.commentInput {
    border: none;
    width: 100%;
    height: 100%;
}

.mp {
    background-color: aqua;
    width: 50%;
}

.publicationButton {
    background-color: white;
    color: rgb(179, 219, 255)
}

.smile{
    width: 24px;
    margin-left: 20px;
    background-color: white;
}